# Virtual environment
venv/
.env/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Model files
models/*.pkl
models/*.joblib

# IDE
.vscode/

# Operating system
.DS_Store
Thumbs.db